<!--Create the code for chat box -->
<% if (locals.user){ %>
	<div id = "mydiv">
		
	<div id="user-chat-box">
		
		<button class ="collapsible">Chat:</button>
		<div class="content">
			<div id="mydivheader">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		</div>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>
</div>
</div>
	
	
	</div>
<% } %>
