<link rel="stylesheet" href="<%= assetPath('css/sign_in.css') %>">
<div class="sign-in">
<form action="/auth/reset?accessToken=<%=accessToken%>" method="POST" class="login-form">
  <h1>Change Password</h1>
  <% if(false){ %>
  <div class="alert error-dailog">Error</div>
  <% } %>
  <div id = "email">
    <input type="password" name="password" placeholder="New Password" required />
  </div>
  <div id = "email">
    <input type="password" name="confirm_password" placeholder="Confirm Password" required />
  </div>
    <button type="submit">Submit</button>
</form>
</div>