#posts-list-container{
a{
        text-decoration:none;
}
li{
    color: rgb(138, 0, 252);
}
#user-post{
    color: rgb(215, 182, 241);
}
.delete-post-button{
    color: rgb(255, 0, 0);
}
.toggle-like-button{
    color: rgb(255, 0, 106);
}
.delete-comment-button{
    color: rgb(255, 0, 0);;
}
}